.header-inner__action-button {
    grid-row: 1/2;
    grid-column: 3/4;
    text-align: center;
    margin: auto;
}

.header-inner__action-button-submit {
    background-color: #f7f7f6;
    border: solid 1px #d9c6b5;
    color: #d9c6b5;
    font-size: 1vw;
    padding: 0.5vw 2vw;
    cursor: pointer;
    text-decoration: none;
}

/* タイトル */
.page-title {
    font-family: "Noticia Text", serif;
    font-weight: 500;
    font-style: normal;
    color: #82715e;
    font-size: 2.5vw;
    padding: 2.5vw 0;
    text-align: center;
    margin: 0;
}

body {
    background-color: #f0ede6;
}

/* フォーム */
.login-form {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 2vw 6vw;
    margin-bottom: 5vw;
}

.login-form__input-title{
    color: #82715e;
    font-weight: 700;
    font-size: 1.4vw;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
    width: 40%;
}

.login-form__input-item{
    height: 3vw;
    width: 100%;
    background-color: #f7f7f6;
    border: solid 1px #d9c6b5;
    color: #82715e;
    font-size: 1vw;
    outline: none;
}

.login-form__input-item:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #f7f7f6 inset;
}



/* フォームバリデーション */
.login-form__input-box {
    display: flex;
    justify-content: space-between;
}

.input-form__error {
    color: red;
    width: 60%;
    text-align: right;
    align-items: center;
}

/* ログインボタン */
.login-form__input-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw auto 1vw auto;
}

.login-form__input-submit{
    height: 3vw;
    width: 9vw;
    background-color: #82715e;
    color: #f7f7f6;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: none;
}